header{
  position: fixed;
	height:70px;
  width:100%;
  background-color:#6b3f31;
}
header ul li{
  display: inline-block;
  width: 100px;
  background-color: #fad09e;
  text-align: center;
  padding: 8px;
  
}
div#wrapper{
  padding-top:70px;
  
}
aside{
	float: left;
  background-color: #d2b48c;
  width:30%;
  height:500px;
}
  
div#f{
  float: right;
  height:500px;
  width:70%;
  background-color:yellow;
}


div#main{
	float: right;
  background-color:#ffddff;
  width:70%;
  text-align: center;
}

div#tt{
  float: left;
  width:45%;
  margin:5px;
  background-color:#f0f6da;
  border:5px solid #6b3f31;
  word-wrap:break-word;
}

a:link {
    color: #000000;
}
header h{
font-size:large ;
	color: white ;
	
}
